body::after	{
	content:"";
	background-image:url(../images/backgrnd.JPG);
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
	opacity:0.4;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	position:fixed;
	z-index: -1;
	}


body	{
	font-family: 'Varela Round', sans-serif;
	margin: auto;
}


.menu	{
	width:100%;
	height:5em;
	position:fixed;
	background:white;
	z-index: 10;
}


#logo	{
	float:left;
	padding-left:4%;
	padding-right: 4%;
	letter-spacing:0.15em;
	text-transform: uppercase;
	padding-top:0.9em;
}


#ticker	{
	font-size: 1.5em;
}


#tick-date {
	font-size: 0.8em;
}


#navig	{
	margin-left: 0;
	width: 65%;
	float:right;
	margin-top: 1.7em;
	}


.nav-item	{
	display:inline;
	margin-left:2.5%;
	margin-right:2.5%;
	}


#navig a {
	text-decoration:none;
	font-size:0.85em;
	text-transform:uppercase;
	color:black;
	letter-spacing:0.1px;
	}	


#navig	a:hover {
	color:#009999;
	}


#start	{
	padding-top:4em;
	margin-bottom: -1em;
	}