h1	{
	font-size:4em;
	text-shadow: 2px 2px #000;
	line-height:1em;
	color: white;
}

#amp	{
	color:#FA5858;
	font-size:1.2em;"
}

.container	{
	width: 80%;
}

h2	{
	color:white;
	text-shadow: 2px 2px #000;
	line-height:0.4em;
	font-size:2.8em;
}

#registry	{
	margin-top:2em;
}

.sub-head	{
	font-size:2.2em;
	color:#FA5858;
	text-shadow:2px 2px black;
	line-height: 2.5em;
}